---
import API from "../../api/API";
import { getUserCheck } from "../../api/User";
import Navbar from "../../components/Layout/Navbar.astro";
import NavbarMain from "../../components/Layout/NavbarMain.astro"
import Layout from "../../layouts/Layout.astro";

import getScript from "../../api/Script";
import getActiondump from "../../api/Actiondump";

import Editor from "../../components/Editor/Editor.svelte"
import NavbarMainDivide from "../../components/Layout/NavbarMainDivide.astro";
import NavbarSection from "../../components/Layout/NavbarSection.astro";
import NavbarDivide from "../../components/Layout/NavbarDivide.astro";
import Header from "../../components/Layout/Header.astro";

const scriptId = Astro.params.id as string
const userData = await getUserCheck(Astro);
const script = await getScript(Astro, scriptId);
const actiondump = await getActiondump(Astro);

---

<Layout title="Script Editor" user={userData}>
    <Header user={userData}></Header>
    <Navbar>
        <NavbarMain>Dashboard</NavbarMain>
        <NavbarMainDivide></NavbarMainDivide>
        <NavbarSection ref="/"><i class="fa-solid fa-house"></i></NavbarSection>
        <NavbarDivide></NavbarDivide>
        <NavbarSection ref={`/`}>My Scripts</NavbarSection>
        <NavbarDivide></NavbarDivide>
        <NavbarSection ref={`/script/${scriptId}/`}>Script Editor</NavbarSection>
    </Navbar>
	
    <main>
        {() => {
            if(API.didError(script)) return <div class="error">An error occurred whilst loading your script</div>
            else return <Editor script={script} actiondump={actiondump} client:only />
        }}
    </main>
</Layout>

<style>
    main {
        height: 100%;
        width: 100%;
        overflow: scroll;
        display: flex;
    }

    .error {
        margin: auto;
    }
</style>